@using BookLibrary.ViewModels
@model CreateBook

@{
	ViewBag.Title = "Create book";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create book</h2>

@Html.ValidationSummary()
@using (Html.BeginForm())
{
	@Html.EditorFor(m => m.Title)
	<input type="submit" value="Save" />
}

@Html.ActionLink("Back to list", "Index")