@using BookLibrary.Domain
@model IEnumerable<IBook>

@{
	ViewBag.Title = "Books";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>
@Html.ActionLink("Add new book", "Create")
<ul>
@foreach (var book in Model)
{
	<li>@book.Title</li>
}
</ul>
