@using BookLibrary.Domain.Entities
@model IEnumerable<Book>

@{
	ViewBag.Title = "Books";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>
<ul>
@foreach (var book in Model)
{
	<li>@book.Title</li>
}
</ul>
